*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position-y: 70%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}
h1 a{
    font-size: 30px;
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
    font-weight: 100;
}
.navbar{
    
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    margin-left: 50%;
}

nav ul li{
    
    display: inline-block;
    list-style:none;
    margin:0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    display: inline-block;
}
.caption1{
    color: beige;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}
.caption1 h1{
    font-family: 'Lobster', cursive;
    font-weight: 100;
}
.button{
    display: inline-block;
    background-image: linear-gradient(to bottom right ,rgb(255, 248, 201),white);
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    box-sizing: border-box;
    color: rgb(95, 59, 0);
    margin-top: 5px;
}
main{
    display: block;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(216, 201, 175);
}

.type{
    display: inline-block;
    margin: 5%;
    color: antiquewhite;
    position: relative;
}
.minimalis{
    display: flex;
}
.title1{
    
    font-family: 'STIX Two Text', serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
#minim-img {
    
}
.img1 {
    width: 250px;
}
#caption2 {
    
    width: 250px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}


