#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:hover{
  cursor: pointer;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden{
  opacity: 0;
  transition: all 0.5s linear;
  transform: translateY(20px);
  pointer-events: none;
}

.show{
  opacity: 1;
  transition: all 0.5s linear;
  transform: translateY(-50px);
  pointer-events: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.show button{
  margin: 5px;
}