@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  margin-top: 8rem;
  border: 1px solid gainsboro;
  height: 18rem;
  width: 38rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.newsletter img {
  height: 100%;
  width: 50%;
}

.newsletter_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.newsletter_details h1 {
  font-size: 20px;
}

.newsletter_details p {
  font-size: 14px;
  text-align: center;
  color: gray;
  margin-bottom: 10px;
}
.newsletter_details input {
  margin: 10px 0;
  width: 100%;
  padding: 10px 14px;
  border: 1px solid gainsboro;
  border-radius: 20px;
}

.subscribeBtn {
  font-size: 16px;
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 7px 21px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribeBtn:hover {
  background-color: pink;
}
