

.pulsing-2 {
  top: 150PX;
  width:20px;
  height:20px;
  border-radius: 50%;
  background:#ffffff;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 255);
  animation:pl2 1.5s infinite linear;
  position: relative;
}
.pulsing-2:before,
.pulsing-2:after {
  content:"";
  position: absolute;
  inset:0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: inherit;
  animation-delay: -0.5s;
}
.pulsing-2:after {
  animation-delay: -1s;
}
@keyframes pl2 {
    100% {box-shadow: 0 0 0 40px #0000}
}

/**/
body {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 130px;
  place-items:center;
  background-color: #1e1e1e;
}

* {
  box-sizing: border-box;
}