body {
  margin: 0 auto;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background: #655779; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #655779,
    #2d2424
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #655779,
    #2d2424
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
}

:root {
  --color-1: #ffffff;
  --color-2: #556fe7;
  --color-3: #2b2d2f;
  --color-4: #93d3fd;
  --color-5: #8e54e9;
  --color-6: #ff6f69;
  --color-7: #7f3fbf;
  --color-8: #ffdde1;
  --color-9: #ee9ca7;
  --color-10: transparent;
  --color-11: #f695a7e8;
}

input {
  outline: 0;
}

.navbar-section {
  position: sticky;
  width: 100%;
  min-height: 6vh;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tabs {
  width: auto;
  float: left;
}
.tabs ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.tabs ul li {
  padding: 0 2em;
  text-transform: uppercase;
  line-height: 1.5em;
}
.tabs a {
  color: var(--color-11);
  transition-property: border, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.tabs a:hover,
.tabs a:active,
.tabs a:focus {
  color: var(--color-3);
  border-bottom: 1px solid var(--color-3);
}

.logo {
  min-width: 13%;
  display: flex;
  align-items: center;
  float: left;
  position: relative;
  left: 3%;
}

.logo a {
  font-size: 2.5em;
  line-height: 1.4em;
  color: var(--color-1);
}

.socials {
  float: right;
  width: auto;
  line-height: 1em;
  margin-right: 3%;
}
.socials ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}
.socials ul li {
  padding: 0 0.5em;
  font-size: 1.5em;
}

.socials i {
  color: var(--color-1);
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.socials i:hover {
  color: var(--color-3);
}
.searchbar {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0.5em;
  right: 2%;
  min-width: 15%;
}
.searchbar input {
  min-height: 3em;
  padding: 0 2.5%;
  width: 95%;
  color: var(--color-1);
  border: none;
  background-color: var(--color-10);
  border-bottom: 1px solid var(--color-1);
  transition: border 0.8s linear;
}
.searchbar input:hover,
.searchbar input:focus {
  border-bottom: 1px solid var(--color-3);
}

.searchbar button {
  min-height: 3em;
  width: 5%;
  border: none;
  background-color: var(--color-10);
  cursor: pointer;
  padding: 0;
}
.searchbar button i {
  color: var(--color-1);
  font-size: 1em;
  font-weight: 0;
  padding-top: 3px;
}
.intro-text {
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color-1);
  font-size: 2em;
  left: 9%;
  margin: 5% 0 0 0;
  line-height: 2.5em;
  min-width: 46%;
  min-height: 33%;
}

.intro-text h1 {
  margin: 0;
}
.intro-text h2 {
  margin: 0;
}
.intro-text span {
  margin: 0;
}
.intro-text p {
  margin: 0;
}
.intro-text h1 span {
  color: var(--color-5);
}
.intro-text h2 span {
  color: var(--color-6);
}

.intro-pic {
  min-width: 33%;
  min-height: 33%;
  float: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 9%;
  margin: 5% 0 0 0;
}

.intro-pic img {
  width: 500px;
  height: 300px;
  opacity: 0.8;
  box-shadow: 3px 3px 25px 1px black;
  border-radius: 10px;
}

.horizontal-line {
  min-height: 0.007em;
  width: 90%;
  position: relative;
  left: 5%;
  margin-top: 2%;
  display: flex;
  background: #4776e6;
  /* background: -webkit-linear-gradient(to right, #262429, #4776e6); */
  background: linear-gradient(to right, #434549, #1f1f20);
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.our-services {
  width: 90%;
  height: 50vh;
  background-color: orange;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.our-services div {
  background-color: thistle;
}
