body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.burger{
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    margin: 20px;
}

.burger div{
    width: 100%;
    height: 3px;
    background: #333;
    position: absolute;
    transition: all 0.3s ease;
}

.burger div:nth-child(1){
    top: 0;
}

.burger div:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

.burger div:nth-child(3){
    bottom: 0;
}

.menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background: #444;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.menu a{
    display: block;
    text-decoration: none;
    color: white;
}

.menu.active{
    display: block;
}

.burger.active div:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active div:nth-child(2){
    opacity: 0;
}

.burger.active div:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
}