*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.burger-menu{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.burger-icon{
    cursor: pointer;
    width: 30px;
    height: 20px;
    margin: 20px;
    position: relative;
}

.burger-icon .line{
    background: #333;
    height: 4px;
    width: 100%;
    margin: 5px 0;
    transition: all 0.4s ease;
}

.panel{
    position: absolute;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background: #333;
    color: #fff;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.5s ease;
}

.panel.open{
    left: 0;
}

.panel ul{
    list-style-type: none;
    padding: 0;
}

.panel ul li{
    padding: 15px 20px;
}

.panel ul li a{
    color: #fff;
    text-decoration: none;
}

.burger-icon.open .line:nth-child(1){
    transform: rotate(45deg);
    transform-origin: 5px;
}

.burger-icon.open .line:nth-child(2){
    opacity: 0;
}

.burger-icon.open .line:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: 5px;
}