*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

#any{
    height: 500vh;
}

#gallarySlider{
    position: relative;
    width: 100%;
    height: 75vh;
}

.imgSlider{
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    animation: gallaryAnimation 10s linear infinite;
    scroll-behavior: none;
}

.imgSlide{
    width: 25%;
    height: 75vh;
    float: left;
    background-color: rgb(151, 151, 151);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgSlide .sImg{
    width: 47%;
    height: 88%;
    background-color: #ca3d26;
}

.simg1{
    background: url(/images/gallary/gallary1.jpg);
}
.simg2{
    background: url(/images/gallary/gallary2.jpg);
}
.simg3{
    background: url(/images/gallary/gallary3.jpg);
}
.simg4{
    background: url(/images/gallary/gallary4.jpg);
}
.simg5{
    background: url(/images/gallary/gallary5.jpg);
}
.simg6{
    background: url(/images/gallary/gallary6.jpg);
}

@keyframes gallaryAnimation{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    35%{
        left: -100%;
    }
    50%{
        left: -100%;
    }
    70%{
        left: -200%;
    }
    85%{
        left: -200%;
    }
    100%{
        left: -300%;
    }
}