body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background: url(animation.gif);
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    color: transparent;

    font-family: sans-serif;
    font-size: 4em;
    font-weight: bold;
}