/* css reset  */
*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height: 59px;
}

/* navigation bar  */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    /* top: 0; */
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* navigation bar: logo styling  */
.logo{
margin: 3px 5px;
color:#ffaa17;
max-width: 250px;
padding: 0 10px;
overflow: hidden;
display: flex;
align-items: center;
height: 60px;
font-family: 'Baloo Bhai 2', cursive;
}

.menu{
    position: absolute;
    right: 34px;
    top: auto;
    display: inline-block;
}
/* navigation bar: list styling  */

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;             /*no bullet will seen */
    font-size: 1.2rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 2px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

#navbar ul li a:hover{
    color:#ffaa17;
    
}

/* home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;   /* background plus written size adjust*/
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../BG1.jpg') no-repeat center center/cover;
    height: 567px;    /* background size adjust*/
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.96;
    filter: brightness(40%);     /*for darken image*/
}

#home h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: -1px;
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    margin: 0px;
}

#home p{
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/* services section  */
#services{
    margin: 10px;
    display: flex;
}
#services .box{
    border: 2px solid black;
    padding: 25px;
    margin: 3px 20px;
    border-radius: 28px;
    font-family: "Rajdhani", sans-serif;
    /* margin-bottom: 10px; */
}

#services .box:hover{
    background-color:#ffaa17 ;
}

#services .boxsticky{
    border: 2px solid black;
    padding: 25px;
    margin: 3px 20px;
    border-radius: 28px;
    background-color:#ffaa17 ;
    font-family: "Rajdhani", sans-serif;
    /* margin-bottom: 5px; */
}
#services .box img{
    height: 77px;
    display: block;
    margin: auto;
}

#services .boxsticky img{
    height: 77px;
    display: block;
    margin: auto;
}

/* client section  */
#client-section{
    /* position: relative; */
height: 100px;
width: 100%;
}

#client-section::before{
    content:"" ;
    position: absolute;
    background: url('../campaign-creators-pypeCEaJeZY-unsplash.jpg'); 
    /* background-color: rgb(199, 198, 198); */
    width: 100%;
    height: 30%;
    z-index: -1;
    opacity: 1.1;
}

#client-section h1{
    color: black;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
   padding: 34px;
}

#clients img{
    height: 50px;
}

/* contact section  */
#contact{
    position: relative;
    align-content: center;
    margin-top: 7.35%;
    width: 100%;
    height: 100%;
    /* margin-left: -1px; */
}

#contact h1{
    color:black;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    filter: brightness(70%); 
    background: url('../damian-zaleski-RYyr-k3Ysqg-unsplash.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
width: 87%;
padding: 0.5rem;
border-radius: 9px;
font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    color:black;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 30px;
}

/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 9px;
}

.h-secondary{
    font-size: 2.5rem;
    padding: 9px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color:#ffaa17 ;
    color: black;
    margin: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.center{
    text-align: center;
}

