<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="/css/stlyle.css">
</head>
<body>

    <div class="section">
        
        <h1><div class="logo"><h1> </h1> </div><span class="head-1">HDFC</span> </h1>
        <h1><span class="head-2">Life</span></h1>
        <p class="text-1">Sar utha ke jiyo.</p>
        <p class="text-2">You are a few clicks away to register</p>
        <p class="text-2"><span > for Automatic Payments!!</span></p>
        <img class="img" src="images/QR-code.jpg" alt="QR-Code">
        <p class="text-3">Scan to register for Debit with </p>
        <span class="text-4">Any QR scanner App</span>
    <footer><p>made by awdhesh contact me on <a href="https://www.linkedin.com/in/developer-awdhesh/">linkedin</a></p></footer>

    </div>
</body>
</html>