body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242834;
}

.main{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.circle{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(#7864f4, #3072d3);
}

.circle:before{
    content: '';
    width: 20px;
    height: 20px;
    opacity: 0.7;
    border-radius: 50%;
    background: linear-gradient(#7864f4, #3072d3);
    animation: loading 2s;
    animation-iteration-count: infinite;
}

@keyframes loading{
    100%{
        transform: scale(3);
        opacity: 0;
    }
}

.circle:nth-child(2):before{
    animation-delay: 0.3s;
}

.circle:nth-child(3):before{
    animation-delay: 0.6s;
}

.circle:nth-child(4):before{
    animation-delay: 0.9s;
}

.circle:nth-child(5):before{
    animation-delay: 1.2s;
}