@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body 
{
	overflow: hidden;
}
section 
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #1d2b3a;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box 
{
	position: relative;
	width: 400px;
	height: 150px;
	border-radius: 20px;
	background: #fff;
	filter: url(#gooey);
}
h2 
{
	position: absolute;
	font-size: 6em;
	z-index: 1000;
	color: #1d2b3a;
}
.circle 
{
	position: absolute;
	top: 0;
	aspect-ratio: 1/1;
	background: #fff;
	border-radius: 50%;
	animation: animate 5s ease-in-out forwards;
}
@keyframes animate 
{
	0% 
	{
		transform:  translateX(-50%) translateY(calc(-90vh - 100%));
	}
	25% 
	{
		transform:  translateX(-50%) translateY(-100%);
	}
	50% 
	{
		transform:  translateX(-50%) translateY(0);
	}
	75% 
	{
		transform:  translateX(-50%) translateY(100%);
	}
	100% 
	{
		transform:  translateX(-50%) translateY(calc(90vh - 100%));
	}
}