*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-hue: 315;
}

main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.btn.primary{
    border: none;
    margin-right: 0.25rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    background-color: oklch(60% 0.15 var(--color-primary-hue));
    color: white;

    &:hover,
    &:focus-visible {
        outline-offset: 4px;
        outline-color: green;
        background-color: oklch(56% 0.12 var(--color-primary-hue));
        box-shadow: 0px 3px 9px -1px oklch(28% 0.12 var(--color-primary-hue));
    }
}

.btn.secondary {
    border: 1px solid black;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: black;

    &:hover,
    &:focus-visible {
        border: 1px solid oklch(10% 1 var(--color-primary-hue));
        outline-offset: 0.25rem;
        outline-color: green;
        box-shadow: 0px 3px 9px -1px oklch(28% 0.012 var(--color-primary-hue) / 50%);
    }
}

[popover]{
    max-inline-size: 460px;
    margin: auto;
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 8px 16px oklch(28% 0.12 var(--color-primary-hue) / 25%);
}

::backdrop{
    background-color: oklch(7% 0.25 var(--color-primary-hue) / 25%);
}

p, h3{
    line-height: 165%;
    margin-bottom: 1rem;
}